.ptr    {pointer-events: all}
.no-ptr {pointer-events: none}

body, div {
  display: flex;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  align-items: flex-start;
  justify-content: flex-start;

  background-color: #ffffff40;
}

.widget {
  margin: 15vw 20vh;
  width: 30em;
  height: 20em;

  align-items: center;

  border-radius: 1em;
  background-color: #ffffff;
}

.handle {
  margin: 1em 0;
  width: 1.5em;
  height: 15em;
  border-width: 1px;
  border-left-width: 0;

  align-items: center;
  justify-content: center;
  cursor: grab;

  border-style: solid;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  background-color: #456296;
  color: white;
}

.widget:hover {
  color: red;
}
